<div class="auth-container">
    <div class="auth-card">
        <div class="auth-image">
            <img src="../../../assets/images/basic/updatepassword.jpg" alt="Update Password">
        </div>

        <div class="auth-form">
            <!-- Update Password Form -->
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="fade-in">
                <h2>Create New Password</h2>

                <div class="password-container">
                    <input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" id="password"
                        placeholder="Password" required>
                    <span class="eye-icon" (click)="togglePasswordVisibility()">
                        {{ isPasswordVisible ? '🙈' : '👁️' }}
                    </span>
                </div>

                <div class="error-msg" *ngIf="(p['password'].dirty || submitted) && p['password'].errors">
                    <small *ngIf="p['password'].errors['required']">Password is required</small>
                    <small *ngIf="p['password'].errors['pattern']">
                        Password must be at least 8 characters long and include
                        1 uppercase, 1 lowercase, 1 number, and 1 special character
                    </small>
                </div>

                <div class="password-container">
                    <input formControlName="confirmPassword" [type]="isconfirmPasswordVisible ? 'text' : 'password'"
                        id="password" placeholder="Confirm Password" required>
                    <span class="eye-icon" (click)="toggleconfirmPasswordVisibility()">
                        {{ isconfirmPasswordVisible ? '🙈' : '👁️' }}
                    </span>
                </div>

                <!-- Show error WHILE TYPING -->
                <div class="error-msg" *ngIf="p['confirmPassword'].dirty && p['confirmPassword'].hasError('mismatch')">
                    <small>Password does not match</small>
                </div>
                <div class="error-msg"
                    *ngIf="(p['confirmPassword'].dirty || submitted) && p['confirmPassword'].hasError('required')">
                    <small>Confirm Password is required</small>
                </div>

                <!-- <button type="submit">Update Password</button> -->
                <p-button class="resetbtn" type="submit" label="Update Password" [loading]="loading"
                    [disabled]="resetForm.invalid" />
                <!-- <p>Remembered your password? <span (click)="backToLogin()">Back to Login</span></p> -->
            </form>
        </div>
    </div>
</div>