<div class="auth-container">
    <div class="auth-card">
        <div class="auth-image">
            <img src="../../../assets/images/basic/updatepassword.jpg" alt="Update Password">
        </div>

        <div class="auth-form">
            <!-- Update Password Form -->
            <form [formGroup]="resetForm"
                (ngSubmit)="onSubmit()" class="fade-in">
                <h2>Create New Password</h2>

                <div class="password-container">
                    <input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" id="password"
                        placeholder="Password" required>
                    <span class="eye-icon" (click)="togglePasswordVisibility()">
                        {{ isPasswordVisible ? '🙈' : '👁️' }}
                    </span>
                </div>

                <div class="password-container">
                    <input formControlName="confirmPassword" [type]="isconfirmPasswordVisible ? 'text' : 'password'" id="password"
                        placeholder="Confirm Password" required>
                    <span class="eye-icon" (click)="toggleconfirmPasswordVisibility()">
                        {{ isconfirmPasswordVisible ? '🙈' : '👁️' }}
                    </span>
                </div>

                <button type="submit">Update Password</button>
                <!-- <p>Remembered your password? <span (click)="backToLogin()">Back to Login</span></p> -->
            </form>
        </div>
    </div>
</div>
  