<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
            [disabled]="!selectedUser || !selectedUser.length" />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template> -->
</p-toolbar>

<p-table #dt [value]="categoryList" [rows]="10" [columns]="cols" [paginator]="true" dataKey="_id"
    [globalFilterFields]="['categoryName', 'categoryDescription', 'createdAt', 'role']" [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUser" [rowHover]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Users" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Categories</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th class="sticky-left" style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="categoryName" style="min-width:16rem">
                Name
                <p-sortIcon field="categoryName" />
            </th>
            <!-- <th pSortableColumn="email" style="min-width: 8rem">email <p-sortIcon field="email" /></th> -->
            <th pSortableColumn="categoryDescription" style="min-width: 8rem">
                Description
                <p-sortIcon field="categoryDescription" />
            </th>
            <th pSortableColumn="createdAt" style="min-width:10rem">
                Created Date
                <p-sortIcon field="createdAt" />
            </th>
            <th pSortableColumn="isBlocked" style="min-width: 12rem">
                Status
                <p-sortIcon field="isBlocked" />
            </th>
            <th class="sticky-right" style="min-width: 12rem">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td class="sticky-left" style="width: 3rem">
                <p-tableCheckbox [value]="user" />
            </td>
            <td style="min-width: 12rem">{{ user.categoryName }}</td>
            <td style="min-width: 16rem">{{ user.categoryDescription }}</td>
            <td>{{ user.createdAt | date:'yyyy-MM-dd HH:MM:SS'  }}</td>
            <td>
                <p-tag [value]="user.isBlocked == true ? 'Active':'Active'"
                    [ngClass]="{'inactive': user.isBlocked, 'active': !user.isBlocked}" />
            </td>
            <td class="sticky-right">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editUser(user,'Edit')" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct(user)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" class="userModel" header="User Details" [modal]="true"  (onHide)="onDialogHide()">
    <ng-template #content>
        <form [formGroup]="userForm">
            <div class="grid grid-cols-3 gap-4">
                <div>
                    <label for="name" class="block font-bold mb-3">Name</label>
                    <input type="text" formControlName="categoryName" pInputText id="categoryName" required autofocus fluid />
                    <small class="text-red-500"
                        *ngIf="userForm.get('categoryName')?.invalid && userForm.get('categoryName')?.touched">Role is required.</small>
                </div>
                <div>
                    <label for="name" class="block font-bold mb-3">Description</label>
                    <input type="text" formControlName="categoryDescription" pInputText id="name" required autofocus fluid />
                    <small class="text-red-500"
                        *ngIf="userForm.get('categoryDescription')?.invalid && userForm.get('categoryDescription')?.touched">Role is
                        required.</small>
                </div>
                <!-- <div class="flex items-center">
                    <p-checkbox formControlName="isBlocked" inputId="checkOption1" binary="true" />
                    <label for="checkOption1" class="ml-2">Is Blocked</label>
                </div> -->
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" variant="text" severity="danger" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />