<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
            [disabled]="!selectedUser || !selectedUser.length" />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template> [columns]="cols"-->
</p-toolbar>

<p-table #dt [value]="productData" [rows]="10" [paginator]="true" dataKey="_id" [showGridlines]="true"
    [globalFilterFields]="['productName', 'categoryName']" [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUser" [rowHover]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Users" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Products</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="category" style="min-width:16rem">
                Category
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="productName" style="min-width: 16rem">Product Name <p-sortIcon field="productName" />
            </th>
            <th pSortableColumn="productDescription" style="min-width: 16rem">
                Product Description
                <p-sortIcon field="productDescription" />
            </th>
            <th pSortableColumn="gender" style="min-width:10rem">
                Gender
                <p-sortIcon field="gender" />
            </th>
            <th pSortableColumn="images" style="min-width: 12rem">
                Images
                <p-sortIcon field="images" />
            </th>
            <th pSortableColumn="gallery" style="min-width: 12rem">
                Gallery
                <p-sortIcon field="gallery" />
            </th>
            <th pSortableColumn="price" style="min-width: 12rem">
                Price
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="sizes" style="min-width: 12rem">
                Sizes
                <p-sortIcon field="sizes" />
            </th>
            <th pSortableColumn="stock" style="min-width: 12rem">
                Stock
                <p-sortIcon field="stock" />
            </th>
            <th pSortableColumn="tags" style="min-width: 12rem">
                Tags
                <p-sortIcon field="tags" />
            </th>
            <th style="min-width: 12rem">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="user" />
            </td>
            <td style="min-width: 12rem">{{ user?.category?.categoryName }}</td>
            <td>
                <div class="flex items-center gap-2">
                    <img [alt]="user.productName" [src]="user.images" width="32" class="product_img" />
                    <span class="image-text">{{ user.productName }}</span>
                </div>
            </td>
            <td class="wraptext">{{ user.productDescription }}</td>

            <td>{{ user.gender?.genderName }}</td>
            <td>{{ user.images | split: 'Products/':1 }}</td>
            <td>
                <div *ngFor="let img of user.gallery" class="truncate-text">
                    {{ img | split:'Products/':1 }}
                </div>
            </td>
            <td>{{ user.price }}</td>
            <td>{{ user.sizes }}</td>
            <td>{{ user.stock }}</td>
            <td>{{ user.tags }}</td>

            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editProducts(user,'Edit')" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct(user)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="formDialog" class="userModel" header="Products Details" [modal]="true" (onHide)="onDialogHide()">
    <ng-template #content>
        <form [formGroup]="productForm">
            <div class="grid grid-cols-3 gap-4">

                <div>
                    <label for="category" class="block font-bold mb-3">Category</label>
                    <p-select inputId="category" formControlName="category" [options]="categoryList"
                        optionLabel="categoryName" optionValue="_id" placeholder="Select a Category" fluid />
                    <small class="text-red-500"
                        *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">Category is
                        required.</small>
                </div>
                <div>
                    <label for="productName" class="block font-bold mb-3">Product Name</label>
                    <input type="text" formControlName="productName" pInputText id="productName" required autofocus
                        fluid />
                    <small class="text-red-500"
                        *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">Product
                        Name is required.</small>
                </div>
                <div>
                    <label for="productDescription" class="block font-bold mb-3">Product Description</label>
                    <input type="text" formControlName="productDescription" pInputText id="productDescription" autofocus
                        fluid />
                </div>
                <div>
                    <label for="gender" class="block font-bold mb-3">Gender</label>
                    <p-select inputId="gender" formControlName="gender" [options]="genderList" optionLabel="genderName"
                        optionValue="_id" placeholder="Select a Gender" fluid />
                    <small class="text-red-500"
                        *ngIf="productForm.get('gender')?.invalid && productForm.get('gender')?.touched">Gender is
                        required.</small>
                </div>
                <div>
                    <label for="price" class="block font-bold mb-3">Price</label>
                    <!-- <input type="number" formControlName="price" pInputText id="price" required autofocus fluid /> -->
                    <p-inputgroup>
                        <p-inputgroup-addon>₹</p-inputgroup-addon>
                        <p-inputnumber formControlName="price" placeholder="Price" />
                        <p-inputgroup-addon>.00</p-inputgroup-addon>
                    </p-inputgroup>
                    <small class="text-red-500"
                        *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">Price
                        is required.</small>
                </div>

                <div>
                    <label for="discountPrice" class="block font-bold mb-3">Discount Price</label>
                    <input type="number" formControlName="discountPrice" pInputText id="discountPrice" autofocus
                        fluid />
                </div>

                <div>
                    <label for="sizes" class="block font-bold mb-3">Sizes</label>
                    <p-multiselect formControlName="sizes" [options]="dressSizesWithMeasurements" optionLabel="label"
                        optionValue="label" display="chip" placeholder="Select Sizes" [maxSelectedLabels]="6"
                        styleClass="w-full md:w-80" />
                    <small class="text-red-500"
                        *ngIf="productForm.get('sizes')?.invalid && productForm.get('sizes')?.touched">Sizes
                        is required.</small>
                </div>
                <div>
                    <label for="stock" class="block font-bold mb-3">Stock</label>
                    <input type="number" formControlName="stock" pInputText id="stock" required autofocus fluid />
                    <small class="text-red-500"
                        *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">Stock
                        is required.</small>
                </div>
                <div>
                    <label for="tags" class="block font-bold mb-3">Tags</label>
                    <input type="text" formControlName="tags" pInputText id="tags" autofocus fluid />
                </div>
              
                <div>
                    <div style="padding-bottom: 10px;">
                        <button class="container-btn-file">
                            <i class="pi pi-image" style="font-size: 1.2rem;"></i>
                            Upload image
                            <input #fileInput class="file" name="text" type="file"
                                (change)="onFileChange($event, 'images')" />
                        </button>
                    </div>
                    <!-- <img [src]="fileInfo" alt="" style="width: 40%;">
                    <span class="file-info">{{ fileInfo | split: '/' }}</span> -->
                    <app-popup *ngIf="fileInfo" [single]="singleImage"></app-popup>
                </div>

                <!-- <div class="">
                    <button class="file-upload-button">
                        <input type="file" #fileInput (change)="onFileChange($event, 'images')" />
                    </button>
                    <div>Choose</div>
                    <img [src]="fileInfo" alt="" style="width: 40%;">
                    <span class="file-info">{{ fileInfo | split: '/' }}</span>
                </div> -->

                <!-- <div class="">
                    <button class="file-upload-button">
                        <input type="file" #galleryInput (change)="onFileChange($event, 'gallery')" multiple />
                    </button>
                    <span class="file-info" *ngFor="let file of galleryFiles">{{ file.name ? file.name:file | split:
                        'Products/':1}}
                        <img [src]="file.name ? file.name:file" alt="" style="width: 40%;">
                    </span>
                </div> -->

                <div>
                    <div style="padding-bottom: 10px;">
                        <button class="container-btn-file">
                            <i class="pi pi-images" style="font-size: 1.2rem;"></i>
                            Gallery
                            <input #galleryInput class="file" name="text" type="file"
                                (change)="onFileChange($event, 'gallery')" multiple />
                        </button>
                    </div>
                    <span class="file-info" >
                        <!-- *ngFor="let file of galleryFiles" -->
                        <!-- {{ file.name ? file.name:file | split: 'Products/':1}} -->
                        <!-- <img src="../../../../../assets/images/preview-icon-8.jpg"  alt="" style="width: 40%;"> -->
                         <app-popup *ngIf="galleryFiles.length > 0" [galleries]="galleryImages"></app-popup>
                    </span>
                </div>

            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="onSubmit()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />