<section>
    <div class="m-header__wrapper">
        <header class="m-header__mobile container-fluid">
            <span class="m-menu-button">
                <!-- m:flex m:flex-1 m:w-3/12 -->
                <div class="m-hamburger-box" (click)="openNav()">
                    <div class="m-hamburger-box__inner"></div>
                    <!-- <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button> -->
                </div>
            </span>
            <div class="m-logo m-logo--mobile m:justify-center m:w-6/12 m-logo--has-image">

                <a href="/" class="m-logo__image m:block" title="Clono">

                    <div class="m-logo__image-default m:display-flex m-image"
                        style="--aspect-ratio: 3.195266272189349;--aspect-ratio-mobile: 3.195266272189349">

                        <!-- <img src="//Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239" alt="Clono"
                            srcset="//Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=50 50w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=100 100w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=150 150w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=200 200w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=250 250w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=300 300w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=400 400w"
                            height="33" class="m:inline-block"> -->
                             <img src="../../../../assets/images/Avatar/Clono_lines-1-removebg-preview.png"
                                        alt="Clono"
                                        
                                        width="1080" height="338" class="m:inline-block">
                    </div>


                </a>

            </div>

            <div class="m-header__mobile-right m:w-3/12 m:flex m:flex-1 m:justify-end m:items-center m:gap-2">
                <!-- Mobile Search Icon -->
                <button class="mobile-search-icon-btn" (click)="openSearchModal()" aria-label="Search">
                    <i class="pi pi-search"></i>
                </button>

                <!-- Mobile Wishlist Icon -->
                <a class="mobile-header-icon" aria-label="Wishlist" (click)="movedToMenuPages('wishlist')">
                    <span [pTooltip]="tooltipContentWishlistMobile" severity="secondary" tooltipPosition="bottom"
                        class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
                        <ng-template #tooltipContentWishlistMobile>
                            <div class="flex items-center">
                                <img width="24" height="24" src="../../../../assets/images/Avatar/icons8-heart-100.png" alt="">
                                <span> <b>Wishlist</b> </span>
                            </div>
                        </ng-template>
                        <p-overlaybadge [value]="WishlistLength" severity="danger">
                            <img class="mobile-icon-img" src="../../../../assets/images/Avatar/icons8-heart-64.png" alt="Wishlist">
                        </p-overlaybadge>
                    </span>
                </a>

                <!-- Mobile Cart Icon -->
                <a class="mobile-header-icon" aria-label="Cart" (click)="movedToMenuPages('cart')">
                    <span *ngIf="cartLength != 0" [pTooltip]="tooltipContentCartMobile" severity="secondary" tooltipPosition="bottom"
                        class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
                        <p-overlaybadge [value]="cartLength" severity="danger">
                            <ng-template #tooltipContentCartMobile>
                                <div class="flex items-center">
                                    <img width="24" height="24" src="../../../../assets/images/Avatar/icons8-cart-48.png" alt="">
                                    <span style="padding-left: 2px;"> <b>Cart</b> </span>
                                </div>
                            </ng-template>
                            <img class="mobile-icon-img" src="../../../../assets/images/Avatar/icons8-cart-94.png" alt="Cart">
                        </p-overlaybadge>
                    </span>
                    <!-- Empty Cart -->
                    <span *ngIf="cartLength == 0" class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2"
                        [pTooltip]="tooltipContentCartEmptyMobile" severity="secondary" tooltipPosition="bottom">
                        <ng-template #tooltipContentCartEmptyMobile>
                            <div class="flex items-center">
                                <img width="24" height="24" src="../../../../assets/images/Avatar/icons8-cart-48.png" alt="">
                                <span style="padding-left: 2px;"> <b>Cart</b> </span>
                            </div>
                        </ng-template>
                        <img class="mobile-icon-img" src="../../../../assets/images/Avatar/icons8-cart-94.png" alt="Cart">
                    </span>
                </a>
            </div>

            <!-- Mobile Side menu -->
            <div [ngClass]="{ 'open': sidebarVisible }" class="m-menu-drawer open"
                style="--menu-drawer-height: 858.140625px;">
                <div class="m-menu-drawer__backdrop"></div>
                <div class="m-menu-drawer__wrapper">
                    <div class="m-menu-drawer__content">
                        <ul class="m-menu-drawer__navigation m-menu-mobile">
                             @for (item of genderList; track item._id) {
                            <li class="m-menu-mobile__item" data-index="1" (click)="openSubNav(items)">
                                <a class="m-menu-mobile__link">
                                    <span> {{item.genderName }}</span>
                                </a>
                                <!-- <span (click)="openSubNav(items)" class="m-menu-mobile__toggle-button"
                                    data-toggle-submenu="1">
                                    <svg fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 256 512">
                                        <path
                                            d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z">
                                        </path>
                                    </svg>
                                </span> -->
                                <!-- <div [ngClass]="{ 'open': sideSubMenu }"
                                    class="m-megamenu-mobile m-megamenu-mobile--level-1 open">
                                    <div class="m-megamenu-mobile__wrapper">
                                        <button (click)="openSubNav(items)" class="m-menu-mobile__back-button"
                                            data-level="1">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 17">
                                                <path fill="currentColor"
                                                    d="M8.12109 15.9141c-.21093.1875-.41015.1875-.59765 0L.175781 8.53125c-.210937-.1875-.210937-.375 0-.5625L7.52344.585938c.1875-.1875.38672-.1875.59765 0l.70313.703122c.1875.1875.1875.38672 0 .59766L3.375 7.33594h11.9883c.2812 0 .4219.14062.4219.42187v.98438c0 .28125-.1407.42187-.4219.42187H3.375l5.44922 5.44924c.1875.2109.1875.4101 0 .5976l-.70313.7032z">
                                                </path>
                                            </svg>
                                            <span>Women</span>
                                        </button>
                                        <ul class="m-submenu-mobile">

                                            <li class="m-menu-mobile__item" data-url="/collections/women">
                                                <a href="/collections/women-printed-oversized-t-shirts"
                                                    class="m-menu-mobile__link">
                                                    <span>Printed T-Shirts</span>
                                                </a>

                                            </li>

                                            <li class="m-menu-mobile__item" data-url="/collections/women">
                                                <a href="/collections/women-plain-t-shirts" class="m-menu-mobile__link">
                                                    <span>Plain T-Shirts</span>
                                                </a>

                                            </li>

                                            <li class="m-menu-mobile__item" data-url="/collections/women">
                                                <a href="/collections/women-co-ords" class="m-menu-mobile__link">
                                                    <span>Co-Ords</span>
                                                </a>

                                            </li>

                                        </ul>

                                    </div>
                                </div> -->
                            </li>
                        }
                            <!-- <li class="m-menu-mobile__item m-menu-mobile__item--no-submenu"
                                data-url="/collections/best-sellers">
                                <a href="/collections/best-sellers" class="m-menu-mobile__link">
                                    Best Sellers
                                </a>
                            </li> -->
                        </ul>

                        <!-- Account/Profile Section at Bottom -->
                        <div class="sidebar-bottom-section">
                            <!-- Account/Profile Section -->
                            <li class="m-menu-mobile__item m-menu-mobile__item--no-submenu sidebar-account-item">
                                <a class="m-menu-mobile__link sidebar-account-link" (click)="navigateToProfile()">
                                    <div class="sidebar-account-content">
                                        <img class="sidebar-account-icon" src="../../../../assets/images/Avatar/icons8-account-94.png" alt="Account">
                                        <span>My Account</span>
                                    </div>
                                </a>
                            </li>

                            <!-- Logout Option (if logged in) -->
                            <li class="m-menu-mobile__item m-menu-mobile__item--no-submenu sidebar-logout-item" *ngIf="hasLogoutOption()">
                                <a class="m-menu-mobile__link sidebar-logout-link" (click)="logout()">
                                    <div class="sidebar-account-content">
                                        <img class="sidebar-account-icon" src="../../../../assets/images/Avatar/logout.png" alt="Logout">
                                        <span>Logout</span>
                                    </div>
                                </a>
                            </li>
                        </div>

                          <!-- <div class="sidebar-bottom-section">
                            <div class="">
                                <div class="m-menu-customer__wrapper">
                                    <li
                                        class="m-menu-mobile__item m-menu-mobile__item--no-submenu sidebar-account-item">
                                        <a class="m-menu-mobile__link sidebar-account-link"
                                            (click)="navigateToProfile()">
                                            <div class="sidebar-account-content">
                                                <img class="sidebar-account-icon"
                                                    src="../../../../assets/images/Avatar/icons8-account-94.png"
                                                    alt="Account">
                                                <span>My Account</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="m-menu-mobile__item m-menu-mobile__item--no-submenu sidebar-logout-item"
                                        *ngIf="hasLogoutOption()">
                                        <a class="m-menu-mobile__link sidebar-logout-link" (click)="logout()">
                                            <div class="sidebar-account-content">
                                                <img class="sidebar-account-icon"
                                                    src="../../../../assets/images/Avatar/logout.png" alt="Logout">
                                                <span>Logout</span>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>

                        </div> -->
                    </div>
                </div>
            </div>

            <!-- <p-sidebar [(visible)]="sidebarVisible" styleClass="w-30rem">
                <ng-template pTemplate="header">
                    <span class="font-semibold text-xl">Sidebar</span>
                </ng-template>
                <div class="m-menu-drawer__content">
                    <ul>
                        <li class="m-menu-mobile__item" data-url="/collections/women" data-index="1">
                            <a href="/collections/women" class="m-menu-mobile__link">
                                <span>Women</span>
                            </a>
                            <span class="m-menu-mobile__toggle-button" data-toggle-submenu="1">
                                <svg fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 256 512">
                                    <path
                                        d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z">
                                    </path>
                                </svg>
                            </span>
                            <div class="m-megamenu-mobile m-megamenu-mobile--level-1">
                                <div class="m-megamenu-mobile__wrapper">
                                    <button class="m-menu-mobile__back-button" data-level="1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 17">
                                            <path fill="currentColor"
                                                d="M8.12109 15.9141c-.21093.1875-.41015.1875-.59765 0L.175781 8.53125c-.210937-.1875-.210937-.375 0-.5625L7.52344.585938c.1875-.1875.38672-.1875.59765 0l.70313.703122c.1875.1875.1875.38672 0 .59766L3.375 7.33594h11.9883c.2812 0 .4219.14062.4219.42187v.98438c0 .28125-.1407.42187-.4219.42187H3.375l5.44922 5.44924c.1875.2109.1875.4101 0 .5976l-.70313.7032z">
                                            </path>
                                        </svg>
                                        <span>Women</span>
                                    </button>
                                    <ul class="m-submenu-mobile">

                                        <li class="m-menu-mobile__item" data-url="/collections/women">
                                            <a href="/collections/women-printed-oversized-t-shirts"
                                                class="m-menu-mobile__link">
                                                <span>Printed T-Shirts</span>
                                            </a>

                                        </li>

                                        <li class="m-menu-mobile__item" data-url="/collections/women">
                                            <a href="/collections/women-plain-t-shirts" class="m-menu-mobile__link">
                                                <span>Plain T-Shirts</span>
                                            </a>

                                        </li>

                                        <li class="m-menu-mobile__item" data-url="/collections/women">
                                            <a href="/collections/women-co-ords" class="m-menu-mobile__link">
                                                <span>Co-Ords</span>
                                            </a>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </li>

                        <li class="m-menu-mobile__item m-menu-mobile__item--no-submenu"
                            data-url="/collections/best-sellers">
                            <a href="/collections/best-sellers" class="m-menu-mobile__link">
                                Best Sellers
                            </a>


                        </li>
                    </ul>
                </div>
            </p-sidebar> -->
        </header>
        <header class="m-header__desktop">
            <div class="m-header__container container-fluid">
                <div class="m-header__inner">
                    <div class="m-header__left">
                        <h1 class="m-header__logo m-logo m-logo--has-image m-0">
                            <a href="/" class="m-logo__image m:block" title="Clono">
                                <div class="m-logo__image-default m-image">

                                    <!-- <img src="//Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239"
                                        alt="Clono"
                                        srcset="//Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=50 50w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=100 100w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=150 150w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=200 200w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=250 250w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=300 300w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=400 400w, //Clono.in/cdn/shop/files/New-Logo-2024-s4.webp?v=1714044239&amp;width=500 500w"
                                        width="1080" height="338" class="m:inline-block"> -->

                                        <img src="../../../../assets/images/Avatar/Clono_lines-1-removebg-preview.png"
                                        alt="Clono"
                                        
                                        width="1080" height="338" class="m:inline-block">
                                </div>
                            </a>


                        </h1>
                    </div>
                    <div class="m-header__center">
                        <div class="m-header__menu">
                            <ul class="m-menu">
                                @for (item of genderList; track item._id) {
                                <li (click)="openSubNav(item)"
                                    class="m-menu__item m-menu__item--parent m-menu__item--has-submenu m-menu__item--dropdown"
                                    data-index="1">
                                    <a class="m-menu__link m-menu__link--main">
                                        {{item.genderName }}
                                        <!-- <span class="m-menu__arrow">
                                            <i class="pi pi-angle-down" style="font-size: 1.2rem"></i>
                                            <i class="pi pi-angle-up" style="font-size: 1.2rem"></i>
                                        </span> -->
                                    </a>
                                    <!-- Sub menu -->
                                    <!-- <div class="m-mega-menu m-gradient m-color-default" style="--total-columns: 3">
                                        <div class="m-mega-menu__container">
                                            <div class="m-mega-menu__inner">
                                                <ul class="m-sub-menu m-sub-menu--level-1">

                                                    <li class="m-sub-menu__item m-sub-menu__item--level-1">
                                                        <a href="/collections/women-printed-oversized-t-shirts"
                                                            class="m-menu__link">
                                                            Printed T-Shirts

                                                        </a>

                                                    </li>

                                                    <li class="m-sub-menu__item m-sub-menu__item--level-1">
                                                        <a href="/collections/women-plain-t-shirts"
                                                            class="m-menu__link">
                                                            Plain T-Shirts

                                                        </a>

                                                    </li>

                                                    <li class="m-sub-menu__item m-sub-menu__item--level-1">
                                                        <a href="/collections/women-co-ords" class="m-menu__link">
                                                            Co-Ords

                                                        </a>

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div> -->
                                </li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="m-header__right">
                        <!-- Desktop Search Bar -->
                        <div class="desktop-search-container">
                            <div class="search-box-desktop" (click)="$event.stopPropagation()">
                                <input type="text" 
                                       [(ngModel)]="searchQuery"
                                       (input)="onSearchInput($event)"
                                       (focus)="onSearchFocus()"
                                       (blur)="onSearchBlur()"
                                       (keyup.enter)="onSearchSubmit()"
                                       class="search-input-desktop" 
                                       placeholder="Search products, categories...">
                                <button class="search-btn-desktop" (click)="onSearchSubmit()" *ngIf="!searchQuery">
                                    <i class="pi pi-search"></i>
                                </button>
                                <button class="search-btn-desktop search-clear" (click)="clearSearch()" *ngIf="searchQuery">
                                    <i class="pi pi-times"></i>
                                </button>
                                <!-- Search Suggestions Dropdown -->
                                <div class="search-suggestions-desktop" *ngIf="showSuggestions && searchSuggestions.length > 0">
                                    <div class="suggestions-header">
                                        <span>Search Results</span>
                                        <span class="suggestions-count">{{ searchSuggestions.length }}</span>
                                    </div>
                                    <div class="suggestions-list">
                                        <div *ngFor="let product of searchSuggestions" 
                                             class="suggestion-item"
                                             (mousedown)="selectSuggestion(product)">
                                            <img [src]="product.images" [alt]="product.productName" class="suggestion-image">
                                            <div class="suggestion-details">
                                                <h6 class="suggestion-title">{{ product.productName }}</h6>
                                                <p class="suggestion-price">
                                                    <span *ngIf="product.discountPrice" class="discount-price">₹{{ product.discountPrice }}</span>
                                                    <span [class.old-price]="product.discountPrice">₹{{ product.price }}</span>
                                                </p>
                                                <span class="suggestion-category">{{ product.category?.categoryName }} • {{ product.gender?.genderName }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="suggestions-footer" (mousedown)="onSearchSubmit()">
                                        <span>View all results for "{{ searchQuery }}"</span>
                                        <i class="pi pi-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <a class="m-header__account" aria-label="Account">
                            <span (click)="toggle($event)" [pTooltip]="tooltipContentAccount" severity="secondary"
                                tooltipPosition="bottom" class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
                                <!-- <i class="pi pi-user" style="font-size: 1.6rem"></i> -->
                                <img width="31" height="33" src="../../../../assets/images/Avatar/icons8-account-94.png"
                                    alt="">
                                <ng-template #tooltipContentAccount>
                                    <div class="flex items-center">
                                        <img width="31" height="33" src="../../../../assets/images/Avatar/profile1.png"
                                            alt="">
                                        <span style="padding-left: 2px;"> <b>Account</b> </span>
                                    </div>
                                </ng-template>

                                <p-popover #op>
                                    <div class=" flex flex-col gap-4">
                                        <div>
                                            <ul class="list-none p-0 m-0 flex flex-col">
                                                <li *ngFor="let member of members"
                                                    class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border"
                                                    (click)="selectMember(member)">
                                                    <img [src]="member.image" style="width: 32px" />
                                                    <div>
                                                        <span class="font-medium">{{ member.name }}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </p-popover>
                            </span>
                        </a>
                        <a title="Click to wishlist" class="m-header__account" aria-label="wishlist">
                            <span (click)="movedToMenuPages('wishlist')" [pTooltip]="tooltipContent"
                                severity="secondary" tooltipPosition="bottom"
                                class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
                                <ng-template #tooltipContent>
                                    <div class="flex items-center">
                                        <img width="31" height="33"
                                            src="../../../../assets/images/Avatar/icons8-heart-100.png" alt="">
                                        <span> <b>Wishlist</b> </span>
                                    </div>
                                </ng-template>
                                <p-overlaybadge [value]="WishlistLength" severity="danger">
                                    <!-- <i class="pi pi-heart" style="font-size: 1.6rem"></i> -->
                                    <img width="31" height="33"
                                        src="../../../../assets/images/Avatar/icons8-heart-64.png" alt="">
                                </p-overlaybadge>
                            </span>
                        </a>
                        <a title="Click to Cart" class="m-header__account" aria-label="cart">
                            <span *ngIf="cartLength != 0" (click)="movedToMenuPages('cart')"
                                [pTooltip]="tooltipContentCart" severity="secondary" tooltipPosition="bottom"
                                class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
                                <p-overlaybadge value="{{cartLength}}" severity="danger">
                                    <ng-template #tooltipContentCart>
                                        <div class="flex items-center">
                                            <img width="25" height="30"
                                                src="../../../../assets/images/Avatar/icons8-cart-48.png" alt="">
                                            <span style="padding-left: 2px;"> <b>Cart</b> </span>
                                        </div>
                                    </ng-template>

                                    <img width="31" height="33"
                                        src="../../../../assets/images/Avatar/icons8-cart-94.png" alt="">
                                </p-overlaybadge>
                            </span>
                            <!-- Empty Cart -->
                            <span *ngIf="cartLength == 0" class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2"
                                (click)="movedToMenuPages('cart')" [pTooltip]="tooltipContentCarts" severity="secondary"
                                tooltipPosition="bottom">
                                <ng-template #tooltipContentCarts>
                                    <div class="flex items-center">
                                        <img width="31" height="33"
                                            src="../../../../assets/images/Avatar/icons8-cart-48.png" alt="">
                                        <span style="padding-left: 2px;"> <b>Cart</b> </span>
                                    </div>
                                </ng-template>
                                <img *ngIf="cartLength == 0" width="31" height="33"
                                    src="../../../../assets/images/Avatar/icons8-cart-94.png" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

    </div>
</section>

<!-- Mobile Search Modal/Popup - Full Page (Outside header for proper z-index) -->
<div class="search-modal-overlay-full" *ngIf="searchModalVisible">
    <div class="search-modal-content-full">
        <!-- Header with Close Button -->
        <div class="search-modal-header-full">
            <div class="search-header-left">
                <h2 class="search-modal-title">Search Products</h2>
            </div>
            <button class="search-modal-close-full" (click)="closeSearchModal()" aria-label="Close">
                <i class="pi pi-times"></i>
            </button>
        </div>

        <!-- Search Input Section -->
        <div class="search-input-section-full">
            <div class="search-box-full">
                <i class="pi pi-search search-icon-full"></i>
                <input type="text" 
                       [(ngModel)]="searchQuery"
                       (input)="onSearchInput($event)"
                       (focus)="onSearchFocus()"
                       (keyup.enter)="onSearchSubmit(); closeSearchModal();"
                       (keyup.escape)="closeSearchModal()"
                       class="search-input-full" 
                       placeholder="Search products, categories, brands...">
                <button class="search-clear-btn" *ngIf="searchQuery" (click)="clearSearch()" aria-label="Clear">
                    <i class="pi pi-times"></i>
                </button>
            </div>
        </div>

        <!-- Search Results Section -->
        <div class="search-results-section-full">
            <!-- Show suggestions if available -->
            <div *ngIf="showSuggestions && searchSuggestions.length > 0" class="search-suggestions-full">
                <div class="suggestions-header-full">
                    <span class="suggestions-title">Search Results</span>
                    <span class="suggestions-count-full">{{ searchSuggestions.length }} found</span>
                </div>
                <div class="suggestions-list-full">
                    <div *ngFor="let product of searchSuggestions" 
                         class="suggestion-item-full"
                         (click)="selectSuggestion(product); closeSearchModal();">
                        <img [src]="product.images" [alt]="product.productName" class="suggestion-image-full">
                        <div class="suggestion-details-full">
                            <h6 class="suggestion-title-full">{{ product.productName }}</h6>
                            <p class="suggestion-price-full">
                                <span *ngIf="product.discountPrice" class="discount-price-full">₹{{ product.discountPrice }}</span>
                                <span [class.old-price-full]="product.discountPrice">₹{{ product.price }}</span>
                            </p>
                            <span class="suggestion-category-full">{{ product.category?.categoryName }} • {{ product.gender?.genderName }}</span>
                        </div>
                        <i class="pi pi-arrow-right suggestion-arrow"></i>
                    </div>
                </div>
                <div class="suggestions-footer-full" (click)="onSearchSubmit(); closeSearchModal();">
                    <span>View all {{ searchSuggestions.length }} results for "{{ searchQuery }}"</span>
                    <i class="pi pi-arrow-right"></i>
                </div>
            </div>

            <!-- Empty state when no search query -->
            <div *ngIf="!searchQuery || searchQuery.trim().length === 0" class="search-empty-state">
                <div class="empty-state-content">
                    <i class="pi pi-search empty-state-icon"></i>
                    <p class="empty-state-text">Start typing to search for products</p>
                    <p class="empty-state-subtext">Search by product name, category, or brand</p>
                </div>
            </div>

            <!-- No results state -->
            <div *ngIf="searchQuery && searchQuery.trim().length >= 2 && !showSuggestions" class="search-no-results">
                <div class="no-results-content">
                    <i class="pi pi-inbox no-results-icon"></i>
                    <p class="no-results-text">No products found</p>
                    <p class="no-results-subtext">Try different keywords or check spelling</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-[6rem]">
    <div class="">
        <router-outlet></router-outlet>
    </div>
    <app-user-footer></app-user-footer>
</div>