.icon{
    margin-left: 7px;
}

.active {
    background-color: var(--p-tag-primary-background);
    color: var(--p-tag-success-color);
}

.inactive {
    background-color: var(--p-tag-danger-background);
    color: var(--p-tag-danger-color);
}

::ng-deep .userDOB .p-datepicker {
    width: 100% !important;
}

::ng-deep .userModel .p-dialog-content {
    overflow-y: unset;
}
