<div class="w-layout-blockcontainer container-fluid w-container">
    <div class="product-section-wrapper">
        <div class="product-heading-wrapper">
            <!-- Product Heading -->
            <div class="w-layout-grid section-title-grid">
                <div class="section-title">
                    <h2 class="section-heading">Our latest products</h2>
                </div>
            </div>
            <!-- Product Body -->
            <div class="product-section-inner-1">
                <div class="products-tab w-tabs">
                    <!-- <div class="products-tab-menu w-tab-menu" role="tablist">
                                <a data-w-tab="Tab 1" class="products-tab-link w-inline-block w-tab-link w--current"
                                    id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                                    <div class="products-tab-nav">All</div>
                                </a><a data-w-tab="Tab 2" class="products-tab-link w-inline-block w-tab-link"
                                    id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false" tabindex="-1">
                                    <div class="products-tab-nav">T-Shirt<br></div>
                                </a><a data-w-tab="Tab 3" class="products-tab-link w-inline-block w-tab-link"
                                    tabindex="-1" id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                                    <div class="products-tab-nav">Shirt<br></div>
                                </a><a data-w-tab="Tab 4" class="products-tab-link w-inline-block w-tab-link"
                                    tabindex="-1" id="w-tabs-0-data-w-tab-3" href="#w-tabs-0-data-w-pane-3" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false">
                                    <div class="products-tab-nav">Accessories</div>
                                </a><a data-w-tab="Tab 5" class="product-tab-link w-inline-block w-tab-link"
                                    tabindex="-1" id="w-tabs-0-data-w-tab-4" href="#w-tabs-0-data-w-pane-4" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-4" aria-selected="false">
                                    <div class="products-tab-nav">Footwear</div>
                                </a>
                            </div> -->
                    <div class="products-tab-menu w-tab-menu">
                        <a *ngFor="let category of categories; let i = index"
                            class="products-tab-link w-inline-block w-tab-link"
                            [ngClass]="{ 'w--current': selectedCategory === category.name }"
                            (click)="selectCategory(category.name)">
                            <div class="products-tab-nav">{{ category.name }}</div>
                        </a>
                    </div>

                    <div class="products-tab-content w-tab-content">
                        <div class="products-tab-pane w-tab-pane w--tab-active"
                            style="opacity: 1; transition: all, opacity 300ms;">
                            <div class="product-list-wrapper w-dyn-list">
                                <div class="product-cms-list w-dyn-items">
                                    <!-- Product CARD -->
                                    <div *ngFor="let product of filteredProducts" role="listitem" data-aos="fade-up"
                                        class="product-list-item w-dyn-item">
                                        <div data-aos="fade-up"
                                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                            class="product-list-box">
                                            <!-- Card Content -->
                                            <div class="product-thumbnail">
                                                <img loading="lazy" [alt]="product.name" [src]="product.images"
                                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 28vw, (max-width: 1439px) 20vw, (max-width: 1919px) 19vw, 24vw"
                                                    [srcset]="product.images + ' 500w, ' + product.images + ' 707w'"
                                                    class="product-image"
                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                <!-- Product Marquee -->
                                                <div class="product-marquee-block" style="opacity: 0;">
                                                    <div class="product-marquee-item"
                                                        style="transform: translate3d(-82.082%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                                                        *ngFor="let i of [1, 2, 3]">
                                                        <a [href]="'/product/' + product.slug"
                                                            class="product-marquee-flex w-inline-block"
                                                            *ngFor="let j of [1, 2, 3, 4, 5]">
                                                            <div class="product-marquee-text">buy now</div>
                                                            <img loading="lazy"
                                                                src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/6746a168123d9aecedc54fde_cart-img.webp"
                                                                alt="cart-img" class="product-marquee-image">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Footer -->
                                            <div class="product-content">
                                                <div class="product-title-box">
                                                    <a class="product-link">{{ product.productName}}</a>
                                                    <div class="product-price">₹&nbsp;{{ product.price
                                                        }}.00&nbsp;INR</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>