<div class="w-layout-blockcontainer container-fluid w-container">

    <div class="product-section-wrapper mb-4">
        <div class="product-heading-wrapper">
            <div class="w-layout-grid section-title-grid">
                <div class="section-title">
                    <h2 class="section-heading">Our latest products</h2>
                </div>
            </div>
            <div class="product-section-inner-1">
                <div class="product-menu-list-block">
                    <a href="/shop" aria-current="page" class="product-tab-link w-inline-block w--current">
                        <div class="text-block-6">All</div>
                    </a>
                    <div class="w-dyn-list">
                        <div role="list" class="product-menu-list-block w-dyn-items">
                            <div role="listitem" class="w-dyn-item"><a href="/category/footware"
                                    class="product-tab-link w-inline-block">
                                    <div class="text-block-5">Footware</div>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-list-wrapper w-dyn-list">

                        <div class="product-cms-list w-dyn-items">
                            <div class="product-list-item w-dyn-item">
                                <div class="product-outer">
                                    <div class="product-thumbnail">
                                        <img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                            loading="lazy" alt="Product Image"
                                            src="https://cdn.prod.website-files.com/672c7cdc72a47e8d826abcc0/6751835075a2ec90366f286e_product-img64.avif"
                                            class="product-image"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="productContent">
                                        <div class="product-title"><a href="/product/kids-cloths" class="product-link">
                                                Kids cloths</a>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                                class="product-price">$&nbsp;50.00&nbsp;USD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-list-item w-dyn-item">
                                <div class="product-outer">
                                    <div class="product-thumbnail">
                                        <img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                            loading="lazy" alt="Product Image"
                                            src="https://cdn.prod.website-files.com/672c7cdc72a47e8d826abcc0/6751835075a2ec90366f286e_product-img64.avif"
                                            class="product-image"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="productContent">
                                        <div class="product-title"><a href="/product/kids-cloths" class="product-link">
                                                Kids cloths</a>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                                class="product-price">$&nbsp;50.00&nbsp;USD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-list-item w-dyn-item">
                                <div class="product-outer">
                                    <div class="product-thumbnail">
                                        <img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                            loading="lazy" alt="Product Image"
                                            src="https://cdn.prod.website-files.com/672c7cdc72a47e8d826abcc0/6751835075a2ec90366f286e_product-img64.avif"
                                            class="product-image"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="productContent">
                                        <div class="product-title"><a href="/product/kids-cloths" class="product-link">
                                                Kids cloths</a>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                                class="product-price">$&nbsp;50.00&nbsp;USD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                               <div class="product-list-item w-dyn-item">
                                <div class="product-outer">
                                    <div class="product-thumbnail">
                                        <img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                            loading="lazy" alt="Product Image"
                                            src="https://cdn.prod.website-files.com/672c7cdc72a47e8d826abcc0/6751835075a2ec90366f286e_product-img64.avif"
                                            class="product-image"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="productContent">
                                        <div class="product-title"><a href="/product/kids-cloths" class="product-link">
                                                Kids cloths</a>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                                class="product-price">$&nbsp;50.00&nbsp;USD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>