// .product-section {
//     padding-top: 90px;
//     padding-bottom: 100px;
//     overflow: hidden
// }

// .w-layout-blockcontainer {
//     max-width: 940px;
//     margin-left: auto;
//     margin-right: auto;
//     display: block
// }

// .container-fluid {
//     max-width: 100%;
//     padding-left: 15px;
//     padding-right: 15px
// }

// @media screen and (min-width: 1920px) {
//     .button-block {
//         overflow: hidden
//     }

//     .marquee-block {
//         justify-content: center;
//         align-items: center
//     }

//     .marquee-block1 {
//         justify-content: center;
//         align-items: center
//     }

//     .product-link {
//         font-size: 16px;
//         font-weight: 500
//     }

//     .product-price {
//         font-size: 22px;
//         line-height: 32px
//     }

//     .left-cta-image {
//         left: -20%
//     }

//     .product-section-title {
//         width: 65%
//     }

//     .cta-section {
//         position: relative
//     }

//     .cta-section-title {
//         padding-left: 100px;
//         padding-right: 100px
//     }

//     .title-decs {
//         text-align: center;
//         justify-content: flex-end;
//         align-items: center
//     }

//     .cta-overly-right-box {
//         background-image: url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672de6ca56f53a4160c77ca5_cta-img.avif);
//         background-position: 0 0;
//         background-size: cover
//     }

//     .product-thumbnail {
//         position: relative
//     }

//     .testimonial-content {
//         justify-content: flex-start;
//         align-items: center
//     }

//     .marquee-2-image {
//         display: block
//     }

//     .footer {
//         overflow: hidden
//     }

//     .first-footer-grid {
//         grid-template-columns: 4fr 1.25fr 1.25fr 2fr 2fr
//     }

//     .form-block2 {
//         width: 70%
//     }

//     .copyright {
//         padding-left: 100px;
//         padding-right: 100px
//     }

//     .navbar {
//         padding-top: 15px
//     }

//     .header-extra {
//         justify-content: flex-end;
//         align-items: center;
//         width: 30vw
//     }

//     .header-search-view {
//         height: 100vh
//     }

//     .header-search-box {
//         justify-content: flex-start;
//         align-items: center
//     }

//     .search-close {
//         z-index: 9;
//         width: 20px;
//         height: 20px;
//         position: fixed;
//         inset: 50px 50px auto auto
//     }

//     .page-title-section,
//     .about-2-section {
//         overflow: hidden
//     }

//     .about-2-section-content,
//     .about-2-counter-box {
//         padding-top: 30px
//     }

//     .step-section {
//         padding-bottom: 70px;
//         overflow: hidden
//     }

//     .step-section-content {
//         padding-right: 0
//     }

//     .step-number-block {
//         padding-left: 30px;
//         padding-right: 70px
//     }

//     .step-single-image {
//         width: 820px
//     }

//     .product-review-section {
//         background-color: var(--grey-light);
//         padding-top: 90px;
//         padding-bottom: 90px
//     }

//     .product-review-grid {
//         grid-template-columns: 2fr 8fr 2fr
//     }

//     .featured-icon.icon2 {
//         width: 40px
//     }

//     .featured-text {
//         font-size: 18px
//     }

//     .blog2-section {
//         overflow: hidden
//     }

//     .contact-section {
//         padding-bottom: 100px;
//         overflow: hidden
//     }

//     .contact-form-item.btn-flex {
//         padding-top: 10px
//     }

//     .contact-input {
//         border-radius: var(--border-radius-10)
//     }

//     .blog-2-image {
//         overflow: hidden
//     }
// }

// @media screen and (max-width: 991px) {
//     .container.checkout-container {
//         flex-flow: column
//     }

//     .nav-link {
//         padding-left: 5px;
//         padding-right: 5px
//     }

//     .nav-dropdown {
//         width: 100%;
//         position: relative
//     }

//     .nav-dropdown-toggle {
//         width: 100%;
//         display: block
//     }

//     .nav-dropdown-icon {
//         display: block
//     }

//     .logo {
//         height: 30px
//     }

//     .hero-title-box {
//         width: 100%
//     }

//     .hero-title {
//         font-size: 90px;
//         line-height: 100px
//     }

//     .hero-title.title1 {
//         margin-right: 0
//     }

//     .product-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .section-title {
//         padding-bottom: 20px
//     }

//     .section-heading {
//         padding-bottom: 0;
//         font-size: 50px;
//         line-height: 60px
//     }

//     .section-title-grid {
//         grid-column-gap: 16px;
//         grid-row-gap: 16px;
//         grid-template-rows: auto;
//         grid-template-columns: 1fr;
//         grid-auto-columns: 1fr
//     }

//     .product-cms-list,
//     .product-cms-list.product-cms-2 {
//         grid-template-columns: 1fr 1fr
//     }

//     .product-link,
//     .product-price {
//         font-size: 16px;
//         line-height: 26px
//     }

//     .about-section {
//         padding-bottom: 60px
//     }

//     .about-section-grid {
//         grid-template-columns: 1fr
//     }

//     .left-span-box {
//         height: auto
//     }

//     .left-cta-image {
//         left: 0%
//     }

//     .right-span-box {
//         min-height: auto;
//         padding: 50px 15px 60px
//     }

//     .background-overly {
//         right: 0%
//     }

//     .title-header {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .collection-cms-list {
//         grid-template-columns: 1fr
//     }

//     .cta-section {
//         padding-top: 60px
//     }

//     .cta-section-grid {
//         grid-template-columns: 1fr
//     }

//     .cta-left-overly-color {
//         left: 0%
//     }

//     .cta-left-overly-content {
//         padding-top: 50px;
//         padding-bottom: 60px
//     }

//     .title-decs {
//         font-size: 16px;
//         line-height: 26px
//     }

//     .product-section-2 {
//         padding-top: 50px;
//         padding-bottom: 60px
//     }

//     .product-mask {
//         width: 40%
//     }

//     .testimonial-section {
//         padding-bottom: 60px
//     }

//     .testimonial-quote-box {
//         width: 100%
//     }

//     .testimonial-quote,
//     .testimonial-author-name {
//         font-size: 18px;
//         line-height: 28px
//     }

//     .marquee-2-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .marquee-2-item {
//         flex: none
//     }

//     .first-footer {
//         padding-left: 0
//     }

//     .first-footer-grid {
//         grid-column-gap: 20px;
//         grid-row-gap: 20px;
//         grid-template-columns: 4fr 2fr 2fr
//     }

//     .widget-title-block {
//         padding-top: 0
//     }

//     .form-block2 {
//         width: 90%
//     }

//     .copyright {
//         flex-flow: column;
//         padding-left: 0;
//         padding-right: 0
//     }

//     .nav-menu-item {
//         flex-flow: column;
//         justify-content: flex-start;
//         align-items: flex-start;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         display: flex
//     }

//     .nav-menu-item.first-child {
//         padding-left: 12px
//     }

//     .nav-submenu-list {
//         position: relative
//     }

//     .nav-submenu-link.w--current {
//         color: var(--black\<deleted\|variable-fbd1820a\>)
//     }

//     .logo-box {
//         padding-left: 0
//     }

//     .header-extra {
//         grid-column-gap: 15px;
//         grid-row-gap: 15px
//     }

//     .header-search-box {
//         display: none
//     }

//     .hero-content-block {
//         min-height: 600px
//     }

//     .hero-content-flex {
//         margin-right: 0;
//         padding-top: 80px;
//         padding-bottom: 60px
//     }

//     .page-title-section {
//         padding-top: 90px;
//         padding-bottom: 60px
//     }

//     .page-title-section.top-padding {
//         padding-top: 370px
//     }

//     .page-title {
//         font-size: 50px;
//         line-height: 60px
//     }

//     .about-2-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .about-2-section-content {
//         padding-left: 0
//     }

//     .about-2-section-grid {
//         grid-template-columns: 1fr
//     }

//     .about-2-title {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .step-section-grid {
//         grid-template-columns: 1fr;
//         padding-left: 20px;
//         padding-right: 20px
//     }

//     .step-image-wrap {
//         border-radius: var(--border-radius-10)
//     }

//     .product-detail-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .grid-product-detail {
//         grid-template-columns: 1fr
//     }

//     .product-review-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .product-review-grid {
//         grid-template-columns: 2fr
//     }

//     .menu-icon {
//         color: var(--dark-color);
//         font-size: 28px;
//         line-height: 28px
//     }

//     .menu-button-2 {
//         background-color: var(--transparent);
//         margin-right: -5px;
//         padding: 0
//     }

//     .menu-button-2.w--open {
//         background-color: #0000
//     }

//     .nav-menu {
//         background-color: var(--grey-color-two\<deleted\|variable-a3436144-40d7-c5a8-63c4-b4edb8bf3cde\>);
//         padding-top: 15px;
//         padding-bottom: 15px
//     }

//     .product-featured {
//         grid-column-gap: 12px;
//         grid-row-gap: 12px
//     }

//     .featured-text {
//         padding-right: 15px
//     }

//     .error-title {
//         font-size: 250px;
//         line-height: 260px
//     }

//     .error-text {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .protected-title {
//         font-size: 60px;
//         line-height: 70px
//     }

//     .search-section {
//         padding-top: 100px;
//         padding-bottom: 60px
//     }

//     .page-title-heading {
//         font-size: 60px;
//         line-height: 70px
//     }

//     .search-link {
//         font-size: 25px;
//         line-height: 35px
//     }

//     .search-text-link {
//         color: var(--body-font-color)
//     }

//     .checkout-section {
//         padding-top: 70px;
//         padding-bottom: 60px
//     }

//     .mleft-0 {
//         width: 100%;
//         margin-right: 0
//     }

//     .block-heading {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .mright {
//         width: 100%;
//         margin-right: 0
//     }

//     .order-confirm-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .order-confirmation {
//         padding-bottom: 0
//     }

//     .blog-categery {
//         width: 45%
//     }

//     .blog-categery.style2 {
//         width: 40%
//     }

//     .blog-categery.bg-color-white {
//         width: 25%
//     }

//     .blog-detail-section {
//         padding-top: 60px;
//         padding-bottom: 40px
//     }

//     .blog-detail-title {
//         font-size: 50px;
//         line-height: 60px
//     }

//     .blog-detail-info {
//         grid-template-columns: .3fr
//     }

//     .blog-section {
//         padding-bottom: 60px
//     }

//     .blog-list-wrapper {
//         width: 100%;
//         height: 100%
//     }

//     .blog-collection-list {
//         grid-template-columns: 1fr 1fr;
//         width: 100%
//     }

//     .blog2-image-box {
//         width: 100%;
//         height: 100%;
//         padding: 15px
//     }

//     .blog2-image {
//         width: 100%;
//         height: 100%
//     }

//     .blog2-title {
//         font-size: 20px;
//         line-height: 30px
//     }

//     .blog2-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .blog2-section-grid {
//         grid-template-columns: 3fr
//     }

//     .search-text-field {
//         font-family: var(--body-font);
//         color: var(--body-font-color);
//         font-weight: 400
//     }

//     .blog2-content-area {
//         padding-left: 0
//     }

//     .category-image-grid {
//         grid-template-columns: 2fr
//     }

//     .category-image,
//     .category-content {
//         width: 100%
//     }

//     .contact-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .contact-section-grid {
//         grid-template-columns: 5fr;
//         grid-auto-flow: row
//     }

//     .contact-form-title {
//         width: 100%
//     }

//     .blog-2-image {
//         height: 100%
//     }

//     .contact-address {
//         padding-bottom: 40px
//     }

//     .info-page-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .info-title {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .blog-2-image-box {
//         width: auto;
//         height: auto
//     }

//     .info-decs {
//         width: 100%
//     }

//     .nav-logo-block {
//         position: relative
//     }

//     .product-menu-list-block {
//         justify-content: flex-start;
//         align-items: flex-start
//     }

//     .product-section-inner-1 {
//         margin-top: 0
//     }

//     .footer-nav {
//         border-left-width: 0;
//         border-left-color: var(--transparent);
//         padding-left: 0
//     }

//     .banner-arrow {
//         display: none
//     }

//     .products-tab.tab-style2 {
//         margin-top: 0
//     }

//     .products-tab-menu {
//         justify-content: flex-start;
//         align-items: flex-start
//     }

//     .shop-2-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .shop-2-section-grid {
//         grid-template-columns: 3fr
//     }
// }

// @media screen and (max-width: 767px) {
//     .container.checkout-container {
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .nav-link {
//         padding-top: 10px;
//         padding-bottom: 10px;
//         display: inline-block
//     }

//     .nav-dropdown {
//         flex-direction: column;
//         align-items: center;
//         display: flex
//     }

//     .nav-dropdown-toggle {
//         padding-top: 10px;
//         padding-bottom: 10px
//     }

//     .container-fluid {
//         padding-left: 15px
//     }

//     .hero-title {
//         font-size: 60px;
//         line-height: 50px
//     }

//     .marquee-block {
//         padding-top: 20px;
//         padding-bottom: 20px
//     }

//     .marquee-block1 {
//         padding-top: 20px;
//         padding-bottom: 20px
//     }

//     .section-heading {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .product-tab-link {
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .product-cms-list {
//         grid-template-columns: 1fr 1fr
//     }

//     .product-image {
//         width: 100%
//     }

//     .product-title-box {
//         grid-column-gap: 5px;
//         grid-row-gap: 5px;
//         flex-flow: column;
//         justify-content: space-between;
//         align-items: flex-start
//     }

//     .about-section-grid {
//         grid-template-columns: 1fr
//     }

//     .left-cta-image {
//         inset: 0%
//     }

//     .title-heading {
//         font-size: 36px;
//         line-height: 47px
//     }

//     .background-overly {
//         right: 0%
//     }

//     .collection-cms-list {
//         grid-template-columns: 1fr
//     }

//     .collection-thumbnail {
//         display: flex
//     }

//     .cta-section {
//         overflow: hidden
//     }

//     .cta-section-grid {
//         grid-template-columns: 1fr
//     }

//     .title-decs {
//         font-size: 14px
//     }

//     .cta-right-span-box {
//         min-height: 500px
//     }

//     .product-mask {
//         width: 55%
//     }

//     .testimonial-mask {
//         width: 100%
//     }

//     .testimonial-author-name {
//         font-size: 15px;
//         line-height: 25px
//     }

//     .testimonial-author-position {
//         font-size: 12px
//     }

//     .marquee-2-item {
//         flex: none
//     }

//     .first-footer-grid {
//         grid-template-columns: 4fr 2fr
//     }

//     .form-block2 {
//         width: 90%
//     }

//     .footer-nav-link {
//         font-family: var(--body-font);
//         color: var(--text-light)
//     }

//     .nav-menu-item {
//         padding-top: 0;
//         padding-bottom: 0
//     }

//     .logo-box {
//         padding-left: 0
//     }

//     .header-search-box {
//         display: none
//     }

//     .hero-slider {
//         width: 100%
//     }

//     .hero-content-block {
//         justify-content: flex-start;
//         align-items: center;
//         min-height: 500px
//     }

//     .hero-slide-wrap.slide-no1 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672b4c68f0220044c33f4694_banner-img.avif);
//         background-position: 0 0, 50%;
//         background-size: auto, cover
//     }

//     .hero-slide-wrap.slide-no2 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/6732f12f922a8f18cff78d36_banner-img2.avif);
//         background-position: 0 0, 50%;
//         background-size: auto, cover
//     }

//     .hero-slide-wrap.slide-no3 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/6741b1749d7e20c66311eba9_banner-img3.avif);
//         background-position: 0 0, 50%;
//         background-size: auto, cover
//     }

//     .text-span-2 {
//         line-height: 75px
//     }

//     .page-title-section.top-padding {
//         padding-top: 370px
//     }

//     .about-2-title-box {
//         padding-top: 0
//     }

//     .counter-number,
//     .counter-number-text {
//         font-size: 60px;
//         line-height: 70px
//     }

//     .step-section-content {
//         justify-content: center;
//         align-items: center
//     }

//     .step-number-block {
//         padding-right: 10px
//     }

//     .step-number {
//         font-size: 270px;
//         line-height: 210px
//     }

//     .step-title {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .step-decs {
//         font-size: 14px;
//         line-height: 25px
//     }

//     .footer-wrapper {
//         padding-left: 0
//     }

//     .product-detail-content {
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .featured-icon {
//         width: 40px
//     }

//     .featured-icon.icon2 {
//         width: 35px
//     }

//     .error-title {
//         font-size: 200px;
//         line-height: 210px
//     }

//     .error-text {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .protected-title {
//         font-size: 50px;
//         line-height: 60px
//     }

//     .page-title-heading {
//         text-transform: none;
//         font-size: 50px;
//         line-height: 60px
//     }

//     .block-heading {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .order-confirm-section {
//         padding-bottom: 60px
//     }

//     .blog-categery {
//         width: 25%
//     }

//     .blog-categery.style2 {
//         width: 30%
//     }

//     .blog-categery.bg-color-white {
//         width: 25%
//     }

//     .blog-detail-title {
//         font-size: 45px;
//         line-height: 55px
//     }

//     .blog-detail-title-box {
//         padding-bottom: 0
//     }

//     .blog-detail-collection-list {
//         grid-template-columns: 1fr
//     }

//     .blog-image {
//         width: 100%;
//         height: auto
//     }

//     .blog-collection-list {
//         grid-template-columns: 1fr
//     }

//     .blog2-image {
//         width: 100%;
//         height: 100%
//     }

//     .blog2-section-grid {
//         grid-template-columns: 100%
//     }

//     .blog2-content-area {
//         width: 100%
//     }

//     .contact-form-grid {
//         grid-template-rows: auto auto auto;
//         grid-template-columns: 1fr
//     }

//     .contact-form-item.btn-flex {
//         padding-top: 10px
//     }

//     .info-page-section {
//         padding-top: 60px
//     }

//     .info-title {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .info-page-image-grid {
//         grid-template-columns: 1fr 1fr
//     }

//     .liceance-info-title {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .product-menu-list-block {
//         flex-flow: wrap
//     }

//     .product-marquee-item {
//         padding-top: 15px;
//         padding-bottom: 15px
//     }

//     .product-marquee-text {
//         font-size: 16px
//     }

//     .banner-icon {
//         margin-top: 220px
//     }

//     .products-tab-menu {
//         grid-column-gap: 15px;
//         grid-row-gap: 15px;
//         flex-flow: wrap
//     }

//     .info-image-title {
//         font-size: 30px;
//         line-height: 40px
//     }
// }

// @media screen and (max-width: 479px) {
//     .container {
//         max-width: none
//     }

//     .container.checkout-container {
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .nav-link:hover {
//         color: var(--skin-color)
//     }

//     .nav-link.w--current {
//         padding-left: 0
//     }

//     .nav-link.w--current:hover {
//         color: var(--skin-color)
//     }

//     .logo {
//         height: 26px
//     }

//     .hero-title {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .button-block.style2 {
//         text-align: center
//     }

//     .marquee-block {
//         justify-content: center;
//         align-items: center
//     }

//     .marquee-block1 {
//         justify-content: center;
//         align-items: center
//     }

//     .section-title {
//         padding-bottom: 0
//     }

//     .section-heading {
//         padding-bottom: 30px;
//         font-size: 35px;
//         line-height: 45px
//     }

//     .product-tab-link,
//     .product-tab-link.w--current {
//         text-align: center
//     }

//     .section-title-grid,
//     .product-cms-list,
//     .product-cms-list.product-cms-2 {
//         grid-template-columns: 1fr
//     }

//     .product-link {
//         font-size: 16px
//     }

//     .product-price {
//         font-size: 20px
//     }

//     .right-span-box {
//         min-height: 450px
//     }

//     .title-heading,
//     .title-header {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .collection-thumbnail {
//         grid-column-gap: 30px;
//         grid-row-gap: 30px;
//         flex-flow: column
//     }

//     .collection-image-box {
//         border-radius: var(--border-radius-10);
//         width: 100%;
//         height: 100%;
//         transition: none
//     }

//     .collection-list-image-box {
//         width: 100%;
//         height: 300px;
//         transition: none;
//         overflow: visible
//     }

//     .collection-list-image-box:hover {
//         width: 100%
//     }

//     .cta-left-overly-color {
//         left: 0%
//     }

//     .cta-left-overly-content {
//         justify-content: flex-start;
//         align-items: center;
//         padding-right: 15px
//     }

//     .title-decs {
//         padding-bottom: 20px
//     }

//     .cta-right-span-box {
//         min-height: 500px
//     }

//     .cta-overly-right-box {
//         background-position: 22% 0;
//         min-height: 500px
//     }

//     .cta-time-box {
//         flex-flow: wrap
//     }

//     .product-mask {
//         width: 99%
//     }

//     .testimonial-quote {
//         padding-left: 0;
//         padding-right: 0
//     }

//     .marquee-2-section {
//         padding-top: 60px;
//         padding-bottom: 60px
//     }

//     .marquee-2-wrapper {
//         justify-content: center;
//         align-items: flex-start
//     }

//     .first-footer {
//         padding-left: 0
//     }

//     .first-footer-grid {
//         grid-column-gap: 12px;
//         grid-row-gap: 12px;
//         grid-template-columns: 4fr
//     }

//     .widget-title-block {
//         padding-top: 0;
//         padding-right: 0
//     }

//     .form-block2 {
//         width: 100%
//     }

//     .copyright {
//         flex-flow: wrap
//     }

//     .copyright-text {
//         line-height: 25px
//     }

//     .nav-menu-item,
//     .nav-menu-item.first-child {
//         padding-top: 0;
//         padding-bottom: 0
//     }

//     .logo-box,
//     .logo-box.w--current {
//         padding-left: 0
//     }

//     .hero-content-block {
//         min-height: 400px
//     }

//     .hero-slide-wrap.slide-no1 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672b4c68f0220044c33f4694_banner-img.avif);
//         background-position: 0 0, 58%;
//         background-size: auto, cover
//     }

//     .hero-slide-wrap.slide-no2 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/6732f12f922a8f18cff78d36_banner-img2.avif);
//         background-position: 0 0, 60%;
//         background-size: auto, cover
//     }

//     .hero-slide-wrap.slide-no3 {
//         background-image: linear-gradient(#ffffff80, #ffffff80), url(https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/6741b1749d7e20c66311eba9_banner-img3.avif);
//         background-position: 0 0, 58%;
//         background-size: auto, cover
//     }

//     .hero-content-flex {
//         padding-bottom: 50px
//     }

//     .text-span-2 {
//         line-height: 50px
//     }

//     .page-title-section {
//         padding-top: 100px
//     }

//     .page-title-section.top-padding {
//         padding-top: 370px
//     }

//     .page-title {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .about-2-section {
//         padding-bottom: 40px
//     }

//     .about-2-title-box {
//         padding-top: 0
//     }

//     .about-2-title {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .about-2-counter-box {
//         flex-flow: wrap
//     }

//     .counter-item-box {
//         width: 45%;
//         padding-bottom: 15px
//     }

//     .step-section-content {
//         flex-flow: wrap;
//         margin-bottom: 30px
//     }

//     .step-section-grid {
//         grid-column-gap: 0px;
//         grid-row-gap: 0px
//     }

//     .step-number {
//         margin-bottom: 10px;
//         font-size: 120px;
//         line-height: 100px
//     }

//     .step-title-box {
//         text-align: center;
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .step-decs {
//         margin-bottom: 0;
//         font-size: 16px;
//         line-height: 28px
//     }

//     .step-single-image {
//         height: auto
//     }

//     .footer-wrapper {
//         padding-left: 0;
//         padding-right: 0
//     }

//     .product-detail-content {
//         padding: 20px 15px;
//         overflow: hidden
//     }

//     .product-image-grid {
//         grid-template-columns: .5fr
//     }

//     .product-extra-image-item {
//         width: 100%;
//         height: 100%
//     }

//     .product-extra-image {
//         width: 80%;
//         height: 80%
//     }

//     .product-single-image-item {
//         height: auto
//     }

//     .product-detail-title {
//         font-size: 30px
//     }

//     .product-review-grid {
//         grid-template-columns: 1fr
//     }

//     .review-title {
//         font-size: 30px
//     }

//     .add-to-cart-button {
//         width: 100%;
//         display: block
//     }

//     .cart-button {
//         justify-content: flex-start;
//         align-items: center;
//         padding-left: 0;
//         display: flex
//     }

//     .product-featured-item {
//         display: block
//     }

//     .product-featured {
//         padding-bottom: 30px
//     }

//     .error-title {
//         font-size: 150px;
//         line-height: 160px
//     }

//     .protected-title {
//         font-size: 30px;
//         line-height: 40px
//     }

//     .search-section {
//         padding-top: 80px;
//         padding-bottom: 60px
//     }

//     .page-title-heading {
//         text-transform: none;
//         font-size: 40px;
//         line-height: 50px
//     }

//     .checkout-form {
//         padding-left: 0;
//         padding-right: 0
//     }

//     .block-heading {
//         font-size: 23px;
//         line-height: 33px
//     }

//     .block-header {
//         grid-column-gap: 5px;
//         grid-row-gap: 5px;
//         flex-flow: column
//     }

//     .order-list-item {
//         grid-column-gap: 10px;
//         grid-row-gap: 10px;
//         flex-flow: column
//     }

//     .order-content {
//         margin-left: 0
//     }

//     .order-confirm-section {
//         padding-top: 80px
//     }

//     .order-confirmation {
//         padding-left: 0;
//         padding-right: 0
//     }

//     .blog-detail-caption {
//         flex-flow: column;
//         padding-bottom: 10px
//     }

//     .blog-categery,
//     .blog-categery.style2 {
//         width: 45%
//     }

//     .blog-categery.bg-color-white {
//         width: 45%;
//         margin-bottom: 10px
//     }

//     .blog-detail-title {
//         font-size: 36px;
//         line-height: 46px
//     }

//     .blog-detail-rich-text blockquote {
//         padding-left: 15px;
//         padding-right: 15px
//     }

//     .blog-detail-collection-list,
//     .blog-collection-list {
//         grid-template-columns: 1fr
//     }

//     .blog2-image {
//         width: 421px;
//         height: auto
//     }

//     .blog2-title {
//         font-size: 20px;
//         line-height: 30px
//     }

//     .contact-form-title {
//         font-size: 35px;
//         line-height: 45px
//     }

//     .contact-decs {
//         font-size: 18px;
//         line-height: 28px
//     }

//     .contact-form-grid {
//         grid-template-rows: auto auto auto;
//         grid-template-columns: 1fr
//     }

//     .contact-form-item {
//         display: block
//     }

//     .contact-form-item.btn-flex {
//         flex-flow: column;
//         justify-content: center;
//         align-items: flex-start
//     }

//     .contact-checkbox-field {
//         padding-top: 5px;
//         padding-left: 20px
//     }

//     .info-title-box {
//         padding-top: 0
//     }

//     .info-title {
//         font-size: 28px;
//         line-height: 38px
//     }

//     .heading-h1 {
//         font-size: 50px;
//         line-height: 60px
//     }

//     .heading-h2 {
//         font-size: 40px;
//         line-height: 50px
//     }

//     .heading-h3 {
//         font-size: 35px;
//         line-height: 45px
//     }

//     .heading-h4 {
//         font-size: 25px;
//         line-height: 35px
//     }

//     .heading-h5 {
//         font-size: 20px;
//         line-height: 30px
//     }

//     .heading-h6 {
//         font-size: 16px;
//         line-height: 26px
//     }

//     .info-page-image-grid {
//         grid-template-columns: 1fr
//     }

//     .product-menu-list-block {
//         grid-column-gap: 10px;
//         grid-row-gap: 10px
//     }

//     .cart-container-2 {
//         min-width: 290px
//     }

//     .select-field {
//         width: 70%
//     }

//     .banner-icon {
//         display: none
//     }

//     .products-tab.tab-style2 {
//         margin-top: 0
//     }
// }
.section-title-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.section-title {
    // padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
    .section-heading {
        font-size: 54px;
        line-height: 64px;
    }
}

.section-heading {
    color: var(--heading-font-color);
    padding-bottom: 23px;
    font-size: 47px;
    line-height: 64px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
    font-weight: 500;
    line-height: 64px;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    font-weight: 700;
}

.product-section-inner-1 {
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -95px;
}

.product-menu-list-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.product-tab-link.w--current {
    border: 1px solid var(--border-color-dark\<deleted\|variable-26f5a533-dd21-1add-395e-c85914ade307\>);
    border-radius: var(--border-radius-10);
    background-color: var(--dark-color);
    color: var(--white);
}

.product-tab-link:hover {
    background-color: var(--black\<deleted\|variable-fbd1820a\>);
    color: var(--white);
}

.product-tab-link {
    border: 1px solid var(--border-color-dark\<deleted\|variable-26f5a533-dd21-1add-395e-c85914ade307\>);
    border-radius: var(--border-radius-10);
    background-color: var(--white);
    padding: 8px 25px;
    display: block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.product-menu-list-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.product-wrapper {
    margin-top: 60px;
}

.product-list-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 1280px) {
    .product-list-wrapper .product-cms-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .product-list-wrapper .product-cms-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 479px) {

    .product-list-wrapper .product-cms-list {
        grid-template-columns: 1fr;
    }
}

.product-cms-list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.product-list-item {
    position: relative;
    overflow: hidden;
}

.product-outer {
    border: 1px solid var(--border-color-1);
    border-radius: var(--border-radius-10);
    background-color: var(--grey-color);
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.productContent {
    color: var(--dark-color);
    margin-top: 20px;
    padding-left: 5px;

}

.product-thumbnail {
    border-radius: var(--border-radius-10);
    background-color: #0000;
    position: relative;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

img {
    border: 0;
}

.product-title {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    display: flex;
}

.product-price {
    font-family: var(--heading-font);
    color: var(--heading-font-color);
    font-size: 19px;
    font-weight: 600;
    line-height: 32px;
}

@media screen and (min-width: 1440px) {
    .container-fluid {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.container-fluid {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.w-layout-blockcontainer {
    // max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w-container {
    // max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}