<section class="footer">
    <div class="w-layout-blockcontainer container-fluid padding-zero w-container">
        <div class="marquee-block1">
            <div class="marquee-content"
                style="transform: translate3d(-72.99%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                <div class="marquee-item"><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale<br></div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Get in touch</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Fashion </div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting&nbsp;&nbsp;offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div>
                </div>
            </div>
            <div class="marquee-content"
                style="transform: translate3d(-72.99%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                <div class="marquee-item"><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale<br></div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Get in touch</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Fashion </div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting&nbsp;&nbsp;offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div>
                </div>
            </div>
            <div class="marquee-content"
                style="transform: translate3d(-72.99%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                <div class="marquee-item"><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale<br></div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting&nbsp;&nbsp;offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Get in touch</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Fashion </div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Sale</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Exciting&nbsp;&nbsp;offers</div><img
                        src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/672c4cb442c9d8b8113fa06b_icon1.avif"
                        loading="lazy" alt="icon" class="marquee-image">
                    <div class="marquee-text">Free delivery</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-layout-blockcontainer container-fluid w-container">
        <div class="footer-wrapper">
            <div class="first-footer">
                <div class="first-footer-grid">
                    <div class="widget-title-block">
                        <h3 class="widget-title">Our newsletter</h3>
                        <div class="form-block2 w-form">
                            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get"
                                class="footer-form" data-wf-page-id="66bf11df879adcab99a88dc9"
                                data-wf-element-id="88244c8b-b18a-aa4c-1b99-edc25cd01b91" aria-label="Email Form 2">
                                <div class="footer-filed-wrap"><input class="footer-text-field w-input" maxlength="256"
                                        name="email-3" data-name="Email 3" placeholder="Your email....." type="email"
                                        id="email-3" required=""></div>
                                <input type="submit" data-wait="" aria-label="Submit" class="footer-button-box w-button"
                                    value="">
                            </form>
                            <div class="success-message w-form-done" tabindex="-1" role="region"
                                aria-label="Email Form 2 success">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form 2 failure">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                        <div class="widget-social-icon">
                            <ul role="list" class="footer-social-list">
                                <li class="footer-list-item"><a href="https://www.instagram.com"
                                        class="social-link w-inline-block"><img
                                            src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/673184dcab97f9f2b7c4a9f3_icon5.avif"
                                            loading="lazy" alt="icon5" class="social-icon-image"></a></li>
                                <li class="footer-list-item"><a href="https://www.facebook.com"
                                        class="social-link w-inline-block"><img
                                            src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/673184db8d6b310062e75049_icon6.avif"
                                            loading="lazy" alt="icon6" class="social-icon-image"></a></li>
                                <li class="footer-list-item"><a href="https://dribbble.com/"
                                        class="social-link w-inline-block"><img
                                            src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/673184dc472820398a2dc04c_icon9.avif"
                                            loading="lazy" alt="icon9" class="social-icon-image"></a></li>
                                <li class="footer-list-item"><a href="https://www.linkedin.com/"
                                        class="social-link w-inline-block"><img
                                            src="https://cdn.prod.website-files.com/66bf11df879adcab99a88dbf/673184db96aaee66331af92c_icon7.avif"
                                            loading="lazy" alt="icon9" class="social-icon-image"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-menu-list-wrap">
                        <div class="widget-title-block">
                            <h3 class="widget-title-2">Category</h3>

                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item" *ngFor="let category of categoryList">
                                        <ul role="list" class="footer-nav-menu w-list-unstyled">
                                            <li class="footer-nav-item">
                                                <a (click)="categoryproductlists(category)"
                                                    class="footer-nav-link cursor-pointer">
                                                    {{ category.categoryName }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-menu-list-wrap">
                        <div class="widget-title-block">
                            <h3 class="widget-title-2">Policies</h3>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item">
                                        <ul role="list" class="footer-nav-menu w-list-unstyled">
                                            <li class="footer-nav-item"><a (click)="privacypolicy()"
                                                    class="footer-nav-link cursor-pointer">Privacy Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="listitem" class="w-dyn-item">
                                        <ul role="list" class="footer-nav-menu w-list-unstyled">
                                            <li class="footer-nav-item"><a (click)="termscondition()"
                                                    class="footer-nav-link cursor-pointer">Terms &
                                                    Conditions</a></li>
                                        </ul>
                                    </div>
                                    <div role="listitem" class="w-dyn-item">
                                        <ul role="list" class="footer-nav-menu w-list-unstyled">
                                            <li class="footer-nav-item"><a (click)="returnpolicy()"
                                                    class="footer-nav-link cursor-pointer">Return Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="listitem" class="w-dyn-item">
                                        <ul role="list" class="footer-nav-menu w-list-unstyled">
                                            <li class="footer-nav-item"><a (click)="refundpolicy()"
                                                    class="footer-nav-link cursor-pointer">Refund Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-menu-list-wrap">
                        <div class="widget-title-block">
                            <h3 class="widget-title-2">Quick links</h3>
                            <ul role="list" class="footer-nav-menu w-list-unstyled">
                                <li class="footer-nav-item"><a href="/" aria-current="page"
                                        class="footer-nav-link w--current">Home</a></li>
                                <li class="footer-nav-item"><a (click)="aboutus()"
                                        class="footer-nav-link cursor-pointer">About us</a>
                                </li>
                                <li class="footer-nav-item"><a (click)="productlists()"
                                        class="footer-nav-link cursor-pointer">Product</a></li>
                                <!-- <li class="footer-nav-item"><a href="/blog" class="footer-nav-link cursor-pointer">Blog</a></li> -->
                                <li class="footer-nav-item"><a (click)="contactus()"
                                        class="footer-nav-link cursor-pointer">Contact
                                        us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-menu-list-wrap">
                        <div class="widget-title-block">
                            <h3 class="widget-title-2">Get in touch</h3>
                            <div class="footer-link-wrap"><a href="mailto:info@gmail.com"
                                    class="footer-content-link">support&#64;gmail.com<br></a><a href="tel:1234567890"
                                    class="footer-content-link">+91 9876543210<br></a></div>
                            <div class="footer-address-wrap">No F3, 1st floor, Pallava Enclave Apartment, Bharathi
                                Nagar Main Road, Pallavaram,Chennai,&nbsp;&nbsp;600043</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="footer-copyright">
                    <div class="copyright">
                        <div class="copyright-text">© 2025. All Rights Reserved. <a href="" target="_blank"
                                class="copyright-link">CLONO</a>&nbsp;&nbsp;- Designed & Developed By <a
                                href="https://menbotechnologies.in/" target="_blank" class="copyright-link">Menbo
                                Technologies</a>
                        </div>
                        <!-- <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item copyright-text"><a href="/info-pages/changelog"
                                        class="footer-nav-link">Changelog</a></li>
                                <li class="footer-nav-item copyright-text"><a href="/info-pages/style-guide"
                                        class="footer-nav-link">Style guide</a></li>
                                <li class="footer-nav-item copyright-text"><a href="/info-pages/licences"
                                        class="footer-nav-link">Licences</a></li>
                            </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>