.active {
    background-color: var(--p-tag-primary-background);
    color: var(--p-tag-success-color);
}

.inactive {
    background-color: var(--p-tag-danger-background);
    color: var(--p-tag-danger-color);
}

::ng-deep .userDOB .p-datepicker {
    width: 100% !important;
}

::ng-deep .userModel .p-dialog-content {
    overflow-y: unset;
}

/* Sticky checkbox (left) */
.sticky-left {
    position: sticky;
    left: 0;
    background: white;
}

/* Sticky action (right) */
.sticky-right {
    position: sticky;
    right: 0;
    background: white;
}